$background-color: #efd8a4;
$font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$button-border: rgb(128, 0, 0);
$color-secundario: #ffb260;
$color-footer: linear-gradient(
  149deg,
  rgba(239, 216, 164, 1) 1%,
  rgba(255, 178, 96, 1) 57%,
  rgba(128, 0, 0, 1) 100%
);
