@import "./variables";
@import "./reset";
@import "./condicional";
@import "./bucle";
@import "./pagina_principal";
@import "./menu_producto";
@import "./sesion_contacto";
@import "./sesion_contacto";

@media screen and (max-width: 480px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .fotoUno {
    height: 150px;
    width: 130px;
  }

  iframe {
    width: 200px;
  }
  .botonWsp {
    display: none;
  }
}
