main {
  div {
    div {
      form {
        section {
          fieldset {
            div {
              div {
                input {
                  width: 60px;
                  height: 30px;
                  font-weight: 700;
                  background-color: $color-secundario;
                  border-color: $button-border;
                  border-radius: 5px;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
