.footer {
  height: 5em;
  display: flex;
  justify-content: space-around;
  background: $color-footer;
  margin-top: 5rem;
  width: 100%;
  align-items: center;
  margin-top: auto;
  div {
    a {
     button {
        width: 100px;
        height: 40px;
        font-family: $font;
        font-weight: 700;
        background-color: $color-secundario;
        border-color: $button-border;
        border-radius: 15px;
        margin-left: 20px;
        animation-name: efecto_boton;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
      }
    }
  }
  nav {
    ul {
      .redesSociales {
        font-family: $font;
        font-size: 30px;
        font-weight: 100;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
        &:hover {
        font-weight: bold;
      }
    }
      }
      
      
  }
}

@keyframes efecto_boton {
  0% {
    width: 100 px;
    height: 40px;
    border-color: $color-secundario;
  }
}
