header {
  background-image: url("../../assets/images/banner.webp");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  nav {
    a {
      .logo1 {
        width: 100px;
      }
    }
  }
}
